@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');

body{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    background: #E8E8E8;
}

header{
    background: #ffffff;
    padding: 1px;
    display: flex;
    align-items: center;
}

header img{
    width: 20px;
}

header h3{
    margin-bottom: -5px;
}

header p{
    margin-top: -5px;
}

.logoLogo{
    padding: 10px;
}

/*=========================*/
.login{
    background: #ffffff;
    width: 400px;
    margin: auto;
    margin-top: 10%;
    padding: 10px;
    border-radius: 5px;

    -webkit-filter: drop-shadow(13px 10px 5px rgba(0,0,0,.5));
    filter: drop-shadow(13px 10px 5px rgba(0,0,0,.5));
}

.sArea{
    text-align: center;
}

.sArea h3{
    margin-bottom: -5px;
    margin-top: -3px;
}

.sArea p{
    margin-top: -5px;
}

.loginDois img{
    width: 50px;
    margin-bottom: -10px;
}

.contact{
    /*background: #2936e830;*/
    border: 1px solid rgba(0, 0, 0, 0.32);
    margin: 10px;
    padding: 2px;
    border-radius: 4px;
}

.contact2{
    /*background: #2936e830;*/
    border: 1px solid rgba(0, 0, 0, 0);
    margin: 10px;
    padding: 2px;
    border-radius: 4px;
}

#fAcesso{
    background: #2936E8;
    border: 1px solid rgba(0, 0, 0, 0.32);
    margin: auto;
    padding: 2px;
    border-radius: 10px;
    width: 100%;
    color: #ffffff;

    font-size: 12pt;
}

#tMail{
    width: 100%;
    background: #ffffff00;
    border: 1px solid #2936e800;
    outline: 0;
}

#tSenha{
    width: 100%;
    background: #ffffff00;
    border: 1px solid #2936e800;
    outline: 0;
}

.sAreaUser{
    display: flex;
    justify-content: space-around;
}

.sAreaUser a{
    text-decoration: none;
    font-size: 10pt;
    font-weight: bold;
}