@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

*{
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Poppins', sans-serif;
}

.header{
    background: #F7B10C;
    color: #ffffff;
    display: flex;
}

.header img{
    width: 20px;
    padding: 10px;
}

/*====== menu ======*/
.menu{
    position: absolute;
    top: 40px;
    padding: 15px;
    background: #F7B10C;
    position: absolute;
    border-radius: 4px;
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.144);
}
.ftPerfil{
    width: 60px;
    height: 60px;
    background: blue;
    border-radius: 100%;
    margin: auto;
}
.perfil{
    text-align: center;
}
.perfil button{
    width: 85px;
    height: 27px;
    font-weight: 400;
    font-size: 20px;
    border-radius: 10px;
    border: 1px solid rgba(0, 0, 0, 0);
    box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.158);
}

.opcD{
    display: flex;
    align-items: center;
    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 15px;
}

.opcD p{
    color: black;
}