@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

*{
    margin: 0;
    padding: 0;
}
body{
    background: #ffffff;
    font-family: 'Poppins', sans-serif;
}

header{
    display: flex;
    height: 100vh;
    width: 100%;
    background-image: linear-gradient(
        to bottom right, 
        #ADACA2 0%, #EDEBDC 40%, #D4D2CD 60%, #FAF8EF 100%
    );
}

.dados img{
    width: 150px;
}

.dados{
    width: 600px;
    background:#A07300;
    color: #ffffff;
    text-align: center;
    margin: auto;
    margin-top: 10%;
    border-radius: 4px;
}
/*==========================*/
.dadosEnter{
    background: #ffffff;
    width: 300px;
    display: flex;
    padding: 5px;
    margin: auto;
    border-radius: 4px;
    border: 1px solid rgba(0, 0, 0, 0.445);
}

.enterDados{
    /*background: red;*/
    width: 310px;
    margin: auto;
}

.enterDados p{
    text-align: left;
}

.enterDados button{
    background: #342403;
    border: 2px solid #342403;
    border-radius: 4px;
    color: #ffffff;
    margin-top: 10px;
    width: 100%;
    height: 40px;
    font-weight: 500;
    font-size: 24px;
}

.dadosEnter input{
    width: 100%;
    border: 1px solid rgba(0, 0, 0, 0);
    outline: 0;
}

.dadosEnter img{
    width: 25px;
}

.acessos{
    padding: 10px;
}
.acessos a{
    margin: 10px;
    padding: 10px;
    font-weight: 500;
    font-size: 15px;
    color: #ffffff;
    text-decoration: none;
}

/*=====popup======*/

.avisoUm{
    display: none;
    background: rgba(0, 0, 0, 0.781);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.avisoDois{
    max-width: 500px;
    background: #ffffff;
    margin: auto;
    margin-top: 10%;
    padding: 15px;
    padding-bottom: 40px;
    border-radius: 4px;
}

.avisoTres{
    text-align: center;
}

.sobre{
    background: #FFFFFF10;
    backdrop-filter: blur(12px);
    -webkit-backdrop-filter: blur(12px);
    position: fixed;
    display: block;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    /*z-index: 100;*/
}

.sobreUm{
    background: #ffffff;
    border-radius: 4px;
    width: 400px;
    padding: 10px;
    text-align: center;
    margin: auto;
    margin-top: 15%;
}

.sobreDois button{
    width: 150px;
    border-radius: 10px;
    font-size: 15px;
    margin: 10px;
    background: #9d4edd;
    color: #ffffff;
    border: 1px solid #9d4edd;
    padding: 5px;
    cursor: pointer;
}

@media(max-width: 600px){
    header{
        background: #A07300;
    }
    .sobreUm{
        width: auto;
        margin-left: 20px;
        margin-right: 20px;
    }
}